* {
    padding: 0;
    margin: 0;
    position: relative;
}
body {
    /* background-color: #faf9f6; */
    background-color: #E8E2E2;
    /* background-color: blue; */
    font-family: Poppins, sans-serif;
}
#logo {
    height: 18rem;
    margin-left: 42rem;
    display: inline;
    /* border: 1px solid black; */
}
.button, #buttonLogin {
    /* margin-top: 20rem; */
    margin-left: 35.3rem;
    font-size: 1.3rem;
    margin-right: 20px;
}
#inputPassword {
    margin-left: 5px;
    font-size: 1.1rem;
    margin-top: 3rem;
}
#inputusername, #buttonLogin {
    /* margin-left: 35px; */
    margin-top: 3rem;
    font-size: 1.1rem;
}
#buttonLogin {
    margin-top: 2.9rem;
    margin-left: 53rem;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 20%;
    font-family: Poppins, sans-serif;
}